<!-- <div  *ngFor="let goal of goals"> -->
  <!-- <div> -->
<!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-progress-bar class="goallo" mode="determinate" value="40"></mat-progress-bar>      </mat-panel-title>
     
    </mat-expansion-panel-header> -->

    <button class="btn btn-success" (click)="bitch()">select</button> <button *ngIf="check" class="btn btn-success" (click)="bitcho()">delete</button>
    <button *ngIf="check" class="btn btn-success" (click)="bitchoo()">archive</button>
    <button class="btn btn-success" (click)="tasoa()">show only </button>
    <button class="btn btn-success" (click)="tasoaa()">show all </button>

    
    <mat-form-field appearance="fill">
      <mat-label>task type</mat-label>
      <mat-select [(ngModel)]="ret" name="food">
        <mat-option *ngFor="let type of sort" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="sho">
    <div *ngFor="let task of tasks" >
    <h2>{{task.name}}</h2>
    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

    <mat-progress-bar class="goallo" mode="determinate" [value]="task.value"></mat-progress-bar>  <mat-checkbox (change)="checko(task)" *ngIf="check"></mat-checkbox>    </mat-panel-title>
       
      </mat-expansion-panel-header>
      <div *ngFor="let subtask of task.subtasks">
      <mat-checkbox (change)="wait(subtask,task)"   [(ngModel)]="subtask.value"  >{{subtask.name}}</mat-checkbox>
    </div>
    </mat-expansion-panel>
  </div>
</div>




<div *ngIf="notsho">
  <div *ngFor="let task of sortedtasks" >
    <h2>{{task.name}}</h2>
    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

    <mat-progress-bar class="goallo" mode="determinate" [value]="task.value"></mat-progress-bar>  <mat-checkbox (change)="checko(task)" *ngIf="check"></mat-checkbox>    </mat-panel-title>
       
      </mat-expansion-panel-header>
      <div *ngFor="let subtask of task.subtasks">
      <mat-checkbox (change)="wait(subtask,task)"   [(ngModel)]="subtask.value"  >{{subtask.name}}</mat-checkbox>
    </div>
    </mat-expansion-panel>
  </div>
</div> 

  <!-- </mat-expansion-panel></div> -->













  